<ion-header>
  <ion-navbar>
    <ion-title>
      Home Exercise
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of items">
      <ion-card-header>
       {{ item.streak.goalDescription }}
      </ion-card-header>
        <ion-card-content>
          <div *ngIf="item.streak.frequencyInfo.frequencyType == 0"> 
            {{ item.streak.frequencyInfo.instancesPerWeek }} times a week, for {{ item.streak.frequencyInfo.cyclesToComplete  }} weeks.

          </div>
          <div *ngIf="item.streak.frequencyInfo.frequencyType == 1">
            Daily for  {{ item.streak.frequencyInfo.cyclesToComplete  }} weeks
          </div>
        </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>