// below is a custom class for the profile page
page-profile {

}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}


ion-avatar img  {
width: 100% !important;
height : 100% !important;
max-width: 400px !important;  //any size
max-height: 400px !important; //any size
}