<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
  -->


<div>
  <ion-fab top left>
    <button ion-fab bigger (click)="goToHomeExercise()">
      <ion-icon name="basketball" > </ion-icon> 
    </button>
  </ion-fab>

  <ion-fab top right>
    <button ion-fab bigger (click)="goToHomeDiet()">
      <ion-icon name="restaurant"> </ion-icon> 
    </button>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab (click)="presentStartingPopover($event)">
      <ion-icon name="alert"> </ion-icon> 
    </button>
  </ion-fab>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div>
<ion-card>
  <ion-card-header>
    Your Current Streaks
  </ion-card-header>

<ion-list>
  <button ion-item *ngFor="let item of items | async">

        <ion-icon *ngIf="item.type.maintype == 0" name="basketball" item-start></ion-icon>
        <ion-icon *ngIf="item.type.maintype == 1" name="restaurant" item-start></ion-icon>
        {{ item.goalDescription }}
      
  </button>
</ion-list>

<!--
  <ion-list>
    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXERCISE STREAK 1
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXECISE STREAK 2
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXECISE STREAK 3
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 1
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 2
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 3
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXERCISE STREAK 1
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXECISE STREAK 2
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXECISE STREAK 3
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 1
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 2
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 3
    </button>
    
  </ion-list>
-->
</ion-card>
</div>
<!--
  <button ion-button round>
    <ion-icon name="basketball"> </ion-icon>    
  </button>

  <button ion-button round>
    <ion-icon name="restaurant"> </ion-icon>    
  </button>
  
  <ion-card>
    <img class="card-image" src="assets/img/restaurant.svg"/>
    
    <img style="width:100%; height:100%" src="assets/img/restaurant.svg"/>
  </ion-card>
  -->


</ion-content>

