<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
  -->

   <h2 style="text-align: center; "> Current Streaks </h2>

<div>

  <!--
  <ion-fab top left>
    <button ion-fab bigger (click)="goToHomeExercise()">
      <ion-icon name="basketball" > </ion-icon> 
    </button>
  </ion-fab>

  <ion-fab top right>
    <button ion-fab bigger (click)="goToHomeDiet()">
      <ion-icon name="restaurant"> </ion-icon> 
    </button>
  </ion-fab>
-->
  <ion-fab bottom right>
    <button ion-fab (click)="presentStartingPopover($event)">
      <ion-icon name="add"> </ion-icon> 
    </button>
  </ion-fab>
</div>



<div>
<ion-card>


<ion-list>
  
  <ion-card style="margin: 0 !important;" ion-item *ngFor="let item of items">
    <div>
      <img [src]="item.streak.imageURL">
    </div>
    <div style="text-align: center">
        <ion-icon  *ngIf="item.streak.type.maintype == 0" name="basketball" item-start></ion-icon>
        <ion-icon  *ngIf="item.streak.type.maintype == 1" name="restaurant" item-start></ion-icon>
        {{ item.streak.goalDescription }}
    </div>
    <div>
      <ion-grid style="margin: 0 !important; padding: 0 !important">
        <ion-row style="margin: 0 !important; padding: 0 !important">
        <ion-col col-6>
          <button style="margin: 0 !important; padding: 0 !important" ion-button block small icon-only color="secondary" (click)="handleAccept(item)">
          <ion-icon name="checkmark"></ion-icon>
        </button>
        </ion-col>
      <ion-col col-6>
        <button style="margin: 0 !important; padding: 0 !important" ion-button block small icon-only color="danger">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
        </ion-row>
      </ion-grid>
  </div>
      </ion-card>
</ion-list>

<!--
  <ion-list>
    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXERCISE STREAK 1
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXECISE STREAK 2
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXECISE STREAK 3
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 1
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 2
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 3
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXERCISE STREAK 1
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXECISE STREAK 2
    </button>

    <button ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      EXECISE STREAK 3
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 1
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 2
    </button>

    <button ion-item>
      <ion-icon name="restaurant" item-start></ion-icon>
      DIET STREAK 3
    </button>
    
  </ion-list>
-->
</ion-card>
</div>
<!--
  <button ion-button round>
    <ion-icon name="basketball"> </ion-icon>    
  </button>

  <button ion-button round>
    <ion-icon name="restaurant"> </ion-icon>    
  </button>
  
  <ion-card>
    <img class="card-image" src="assets/img/restaurant.svg"/>
    
    <img style="width:100%; height:100%" src="assets/img/restaurant.svg"/>
  </ion-card>
  -->


</ion-content>

