page-home {



/*
 .card-image {
     height:100%;
     width:100%;
 }

 ion-card {
    height: 10%;
    width: 10%;
    float: left;
    position: left;
    text-align: left;

  }
*/

  ion-card-header {
    text-align: center;
  }


  .fab ion-icon {
        font-size: 20px; 
  }


  .fab[bigger] {
    margin-block-start: 10px;  
    margin: 14px;
        width: 150px;
    height: 150px;
    line-height: 40px;
    background-color: #edbb28;
  }



  //$fab-content-margin: 100px;
}
