// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$toolbar-background: #edbb28;



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  grey:     #D3D3D3,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
// can import all new fonts from the assets folder in src following this format
// remember to change font names to names without spacing

@import '../assets/fonts/NewAthleticM54.ttf';


@font-face {
  font-family: "NewAthleticM54";
  font-style: normal;
  font-weight: 6500;
  src: local("NewAthleticM54"), local("NewAthleticM54"), url("#{$font-path}/NewAthleticM54.ttf") format("truetype");
}

// $font-family-base: "Maven Pro"; THIS DOES NOT WORK!
$font-family-md-base: "NewAthleticM54"; // THIS DOES WORK
$font-family-ios-base: "NewAthleticM54"; // THIS DOES WORK
$font-family-wp-base: "NewAthleticM54"; // THIS DOES WORK



// Below is a sample of how others implemented a different font at different boldness

/*
@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Maven Pro"), local("Maven-Pro-Regular"), url("#{$font-path}/MavenPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Maven Pro Medium"), local("Maven-Pro-Medium"), url("#{$font-path}/MavenPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Maven Pro Bold"), local("Maven-Pro-Bold"), url("#{$font-path}/MavenPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 900;
  src: local("Maven Pro Ultra Bold"), local("Maven-Pro-Regular-Ultra-Bold"), url("#{$font-path}/MavenPro-Black.ttf") format("truetype");
}

// $font-family-base: "Maven Pro"; THIS DOES NOT WORK!
$font-family-md-base: "Maven Pro"; // THIS DOES WORK
$font-family-ios-base: "Maven Pro"; // THIS DOES WORK
$font-family-wp-base: "Maven Pro"; // THIS DOES WORK

*/

$popover-ios-width: 340px;
$popover-wp-width: 340px;
$popover-md-width: 340px;

$popover-ios-min-height: 70%;
$popover-wp-min-height: 70%;
$popover-md-min-height: 70%;

$popover-ios-max-height: 100%;
$popover-wp-max-height: 100%;
$popover-md-max-height: 100%;