<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Challenges
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="challenges">
      <ion-segment-button value="diet">
        Diet
      </ion-segment-button>
      <ion-segment-button value="exercise">
        Exercise
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="challenges">
    
    <ion-list *ngSwitchCase="'diet'">
      <div *ngFor="let item of items | async">
      <button ion-item *ngIf="item.type.maintype == 1">
       <ion-card>
          <img [src]="item.imageURL">
          <ion-card-title style="text-align: center; ">
           {{ item.goalDescription }}
          </ion-card-title>
          <!--
          <div *ngIf="item.frequencyInfo.frequencyType == 0" style="text-align: center; "> 
            {{ item.frequencyInfo.instancesPerWeek }} times a week, for {{ item.frequencyInfo.cyclesToComplete  }} weeks.

          </div>
          <div *ngIf="item.frequencyInfo.frequencyType == 1" style="text-align: center; ">
            Daily for  {{ item.frequencyInfo.cyclesToComplete  }} days
          </div>
          -->
      </ion-card>
    </button>
    </div>
    </ion-list>

    <ion-list *ngSwitchCase="'exercise'">
      <div *ngFor="let item of items | async">
      <button ion-item *ngIf="item.type.maintype == 0">
      <ion-card>
          <img [src]="item.imageURL">
        <ion-card-title style="text-align: center; ">
           {{ item.goalDescription }}
        </ion-card-title>
          <!--
          <div *ngIf="item.frequencyInfo.frequencyType == 0" style="text-align: center; "> 
            {{ item.frequencyInfo.instancesPerWeek }} times a week, for {{ item.frequencyInfo.cyclesToComplete  }} weeks.

          </div>
          <div *ngIf="item.frequencyInfo.frequencyType == 1" style="text-align: center; ">
            Daily for  {{ item.frequencyInfo.cyclesToComplete  }} days
          </div>
          -->
      </ion-card>
    </button>
    </div>
  </ion-list>

  </div>
</ion-content>
